* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.my_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url("../images/Polo_3.jpg") no-repeat;
    background-size: cover;
}

/* my_header */

.my_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    background-color: rgba(54, 48, 48, 0.75);
    padding: 10px 0;
}


.my_header .my_menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.my_header .my_menu li {
    transition: 0.25s;
    background-color: rgba(54, 48, 48, 0.1);
}

.my_header .my_menu li>a {
    color: #fff;
}

.my_header .my_menu li:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.my_header .my_menu li>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.my_header .right_my_menu {
    /*display: flex;*/
}


.my_header .my_title_image {
    align-self: center;
}

.my_header .my_title_image h1 {
    font-size: 36px;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.my_header .my_title_image h1 span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-variant: small-caps;
    font-style: italic;
    margin: 0;
    padding: 0;
    }

.my_header .my_title_image a{
    transition: 0.25s;
}
.my_header .my_title_image a:hover{
    color: #451fff;
}
.filter_block form {
    background-color: rgba(54, 48, 48, 0.75);
    /*margin: 10px;*/
    color: white;
    padding: 10px;
}

/* MAIN */

.my_main{
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}

.product_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
    gap: 1rem;
    /*overflow: scroll;*/
}

.product_item {
    flex: 1 1 calc((100% / 3) - 2rem);
}

.product_item .card img {
    max-width: inherit;
    height: 250px;
}

.my_main_container {
    max-width:1000px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.test_content_block{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.my_log_form {
    margin-top: 15vh;
}

.my_reg_form {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto 200px;
}

.form-text {
    color: #e21919
}

.my_products_container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: space-between;
}

.error_alert {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-size: 18px;
    background-color: red;
    font-style: italic;
}
/* my_footer */

.my_footer {
    margin-top: auto;
    background-color: black;
    text-align: right;
    color: white;
    padding: 10px;
    background-color: rgba(54, 48, 48, 0.75);
}
