{% set page = _self|replace({'.html':''}) %}
{{ include('header.html') }}
<div class="my_main">
    <div class="error_alert">
        <b>{{ error }}</b>
    </div>
    {% for key,item in cart_list %}
    <div class="product_block">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p><h5>Товар: {{ item.name }}</h5><span>Количество: {{ item.ProductCount }}</span>
                        <p><h5>Цена: {{ item.price }} &euro;</h5>
                        <p><h5>Сумма: {{ item.CommonPrice }} &euro;</h5>
                    </li>
                </ul>
                <form method="post">
                    <button class="btn btn-primary" name="product_id" value="{{ item.id }}" type="submit">Удалить
                        товар
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ include('footer.html') }}