<div class="my_footer">
    <div class="my_footer-copyright">
        <span> {{ "now"|date('d/m/Y H:i', timezone="Europe/Moscow") }} Copyright &copy; 2021 by <a
                href="">EfyPolo</a></span>
    </div>
</div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="js/bootstrap.js"></script>
</body>
</html>