{% extends 'pages.twig' %}
{% block links %}
{% if session.user is defined %}
{% set curPage = auth_pages[page] %}
{% else %}
{% set curPage = pages[page] %}
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if session.user is defined %}
    {% set title = auth_pages[page][title] %}
    {% endif %}
    <title>{{ curPage.title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/efystyle.css">
</head>
<body>
<div class="my_container">
    <div class="my_header">
        <div class="my_title_image">
            <a href="/"><h1>EfyPoloShop <span>All you need to play canoepolo</span></h1></a>
        </div>
        <div class="my_right_menu">
            <ul class="my_menu">
                {% if session.user is defined %}
                {% for key,page in auth_pages %}
                <li class="my_menu"><a href="/{{ key }}">{{ page.name }}</a></li>
                {% endfor %}
                {% else %}
                {% for key,page in pages %}
                <li class="my_menu"><a href="/{{ key }}">{{ page.name }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endblock %}