{% set page = _self|replace({'.html':''}) %}
{{ include('header.html') }}
<div class="my_main">
    <div class="error_alert">
        <b>{{ error }}</b>
    </div>
    <div class="my_main_container">
        <div class="test_content_block">
            <div class="card mb-3 text-white bg-secondary mb-3 border-dark mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="images/paddle.png" alt="paddle" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('footer.html') }}
