{% set pages = {
    "index" : {
        "title" : "Main page",
        "name" : "Main"
    },
    "products" : {
        "title" : "Products",
        "name" : "Products"
    },
    "login" : {
        "title" : "Login",
        "name" : "Login"
    },
    "reg" : {
        "title" : "Registration",
        "name" : "Registration"
    }
} %}
{% set auth_pages = {
    "index" : {
        "title" : "Main page",
        "name" : "Main"
    },
    "products" : {
        "title" : "Products",
        "name" : "Products"
    },
    "profile" : {
        "title" : "Profile",
        "name" : "Profile"
    },
    "cart" : {
        "title" : "Cart",
        "name" : "Cart"
    },
    "logout" : {
        "title" : "LogOut",
        "name" : "LogOut"
    }
} %}

{% block links %}
{% endblock %}


