{% set page = _self|replace({'.html':''}) %}
{{ include('header.html') }}
<div class="my_main">
    <div class="error_alert">
        <b>{{ error }}</b>
    </div>
    <div class="filter_block">
        <form method="get">
            <p>
                <label>Название: <input name="name" type="text" placeholder="Введите название"></label>
            </p>
            <p>
                <span>Категория:</span>
                <select name="category">
                    <option value=""></option>
                    {% for key,category in category_list %}
                    <option value="{{ category.categoryId }}">{{ category.categoryName }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label>
                    Мин. цена: <input name="minprice" placeholder="Введите мин. сумму" pattern="^[ 0-9]+$">
                </label>
                <label>
                    Макс. цена: <input name="maxprice" placeholder="Введите макс. сумму" pattern="^[ 0-9]+$">
                </label>
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Применить фильтр</button>
            </p>
        </form>
    </div>
    <div class="product_block">
        {{ include('product_item.html') }}
    </div>
</div>
{{ include('footer.html') }}

