{% for key,product in product_item %}
<div class="product_item">
    <form method="post">
        <div class="card" style="width: 18rem;">
            <img src="images/products_photo/{{ product.photo }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">{{ product.categoryName }}</h6>
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.price }} &euro;</p>
                <button class="btn btn-primary" name="product_id" value="{{ product.id }}" type="submit">В корзину
                </button>
            </div>
        </div>
    </form>
</div>
{% endfor %}