{% set page = _self|replace({'.html':''}) %}
{{ include('header.html') }}
<div class="my_main">
    <div class="error_alert">
        <b>{{ error }}</b>
    </div>
    <div class="my_main_container">
        {% set plug = 'default_avatar.png' %}
        {% for val in profile_card %}
        <div class="card" style="width: 18rem;">
            {% if val.avatar is not null %}
            {% set plug = val.avatar %}
            {% endif %}
            <img src='images/avatars/{{ plug }}' class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{ val.email }}</li>
                <li class="list-group-item"> {{ val.first_name }}</li>
                <li class="list-group-item"> {{ val.last_name }}</li>
                <li class="list-group-item"> {{ val.city }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{{ include('footer.html') }}