{% set page = _self|replace({'.html':''}) %}
{{ include('header.html') }}
<div class="my_main">
    <div class="error_alert">
        <b>{{ error }}</b>
    </div>
    <div class="my_reg_form">
        <form class="row g-3" method="post" action="?store=1" enctype="multipart/form-data">
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationDefault01" name="first_name" value="Mark"
                       required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" name="last_name" value="Otto"
                       required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
                       placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
                <span>password must contain at least one uppercase character and at least one digit</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" name="repassword" id="exampleInputPassword2" required>
            </div>
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">City</label>
                <select class="form-select" id="validationDefault04" name="city" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="Moscow">Moscow</option>
                    <option value="Saint-Petersburg">Saint-Petersburg</option>
                    <option value="Novgorod">Novgorod</option>
                    <option value="Yaroslavl">Yaroslavl</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="file" name="avatar" accept="image/*">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>
{{ include('footer.html') }}